<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67a798">  <td>20/03/11 13:41:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CohuAutomationDemo.initialize()[pri:0, instance:Cohu.CohuAutomation.CohuAutomationDemo@55cf0d14]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@549496397</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/03/11 13:42:05</td>   <td>14703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CohuAutomationDemo.connectionT1()[pri:0, instance:Cohu.CohuAutomation.CohuAutomationDemo@55cf0d14]">connectionT1</td> 
  <td>main@549496397</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/03/11 13:43:07</td>   <td>76236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CohuAutomationDemo.endTest()[pri:0, instance:Cohu.CohuAutomation.CohuAutomationDemo@55cf0d14]">&lt;&lt;endTest</td> 
<td>&nbsp;</td>  <td>main@549496397</td>   <td></td> </tr>
</table>
