<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87990">  <td>20/03/11 12:24:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CohuAutomationDemo.endTest()[pri:0, instance:Cohu.CohuAutomation.CohuAutomationDemo@27adc16e]">&lt;&lt;endTest</td> 
<td>&nbsp;</td>  <td>main@1063737662</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>20/03/11 12:23:59</td>   <td>-18082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CohuAutomationDemo.initialize()[pri:0, instance:Cohu.CohuAutomation.CohuAutomationDemo@27adc16e]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@1063737662</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>20/03/11 12:24:06</td>   <td>-11407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CohuAutomationDemo.run()[pri:0, instance:Cohu.CohuAutomation.CohuAutomationDemo@27adc16e]">run</td> 
  <td>main@1063737662</td>   <td></td> </tr>
</table>
